@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




body{
	padding: 0;
	align-content: center;
	background-color: #d4d7de;
	font-family: 'poppins', verdana;
	margin: 0;
	padding-top: 65px;
}

.row{
	padding: 0;
	} 

.row-cols-1{
	padding: 0;
	} 

.row-col-xs-2{
	padding: 0;
	} 

.row-cols-sm-2{
	padding: 0;
	} 

.row-cols-md-2{
	padding: 0;
	} 
.row-cols-lg-4{
	padding: 0;
	} 

.row-cols-xl-5{
	padding: 0;
}
.navbar-brand{
	margin-left: 20px;
	font-size: 28px;
	font-weight: bold;
}

.nav-item{
	margin-left: 30px;
	font-size: 20px;
}

.container .navbar .navbar-brand{
	font-weight: bold;
}

.collapse .navbar-nav .nav-item .nav-link{
	font-weight: bold;
}

.container .justify-content-md-center{
	margin-top: 20px;
}

.underline{
	width: 100%; 
	height:2px; 
	background-color: orangered;
}

.btn-secondary{
	font-size: 18px;
}

.btn-primary{
	font-size: 18px;
}


h1{
	font-size: 26px;
	font-weight: bold;
}

h2{
	font-size: 22px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight: bold;	
}

h5{
	font-size: 16px;
}


p{
	font-size: 18px;
	font-weight: 400px; 
}

ul{
	list-style-type: none;
	font-size: 18px;
	font-weight: 400px; 
}

ol{
	font-size: 18px;
	font-weight: 400px;
}
.rule{
	height: 3px;
	color: yellow;
}


.jumbotron{
	padding: 1rem;
	border-radius: 0;
	font-size: 18px;
	color: red;
}

.liststyle{
	font-size: 18px;
	font-weight: 400px; 	
}

.padding{
	padding-bottom: 2rem;
}

footer{
	padding-top: 2rem;
}

.social a{
	font-size: 2em;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}

.fa-google-plus-g{
	color: #dd4b39;
}

.fa-linkedin-in{
	color: #3b5998;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-linkedin-in:hover{
	color: #d5d5d5;
}

footer a{
	text-decoration: none;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*---Media Queries --*/
@media (max-width: 400px) {

	.container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1px;
	margin-right: 0;
	padding: 0;
	align-content: center;
}
	h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 15px;
	font-weight: bold;
}

h3{
	font-size: 15px;
	font-weight: bold;	
}

h5{
	font-size: 15px;
}

p{
	font-size: 14px;
	font-weight: 400px; 
}

ul{
	list-style-type: none;
	font-size: 14px;
	font-weight: 350px; 
}

ol{
	font-size: 14px;
	font-weight: 350px;
}

.liststyle{
	font-size: 14px;
	font-weight: 350px; 	
}

.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 22px;
}


.row{
	margin-left: 3px;
}

.row-cols-md-2{
	padding: 0;
	width: 100%;
}

.row .col .card{
	width: 100%;
	height: auto;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.row .col .card .image{
	width: 100%;
	height: auto;
}
}

@media (max-width: 576px) {  
  .container{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	align-content: center;
}

  h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 15px;
	font-weight: bold;
}

h3{
	font-size: 15px;
	font-weight: bold;	
}

h5{
	font-size: 15px;
}

p{
	font-size: 14px;
	font-weight: 400px; 
}

.jumbotron{
	font-size: 14px;
	font-weight: 400px;
}

ul{
	list-style-type: none;
	font-size: 14px;
	font-weight: 350px; 
}

ol{
	font-size: 14px;
	font-weight: 350px;
}

.liststyle{
	font-size: 14px;
	font-weight: 350px; 	
}

.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 22px;
}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 0;
	padding: 2px;
	align-content: center;
}

  h1{
	font-size: 22px;
	font-weight: bold;
}

h2{
	font-size: 20px;
	font-weight: bold;
}

h3{
	font-size: 18px;
	font-weight: bold;	
}

p{
	font-size: 18px;
	font-weight: 400px; 
}

.jumbotron{
	font-size: 18px;
}

.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 24px;
}

.row{
	margin-left: 3px;
}

.row .col .card{
	max-width: 250px;
	height: auto;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.row .col .card .image{
	max-width: 250px;
	height: auto;
}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 .container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 50px;
	margin-right: 0;
	padding: 2px;
	align-content: center;
}

 h1{
	font-size: 24px;
	font-weight: bold;
}

h2{
	font-size: 22px;
	font-weight: bold;
}

h3{
	font-size: 20px;
	font-weight: bold;	
}

p{
	font-size: 18px;
	font-weight: 400px; 
}
.collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
}

.container .navbar .navbar-brand{
	font-size: 26px;
}

.jumbotron{
	font-size: 18px;
}

.row .col .card{
	max-width: 300px;
	height: auto;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.row .col .card .image{
	max-width: 300px;
	height: auto;
}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
 .container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 100px;
	margin-right: 0;
	padding: 2px;
	align-content: center;
}

 .container .navbar .navbar-brand{
	font-size: 26px;
}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 120px;
	margin-right: 0;
	padding: 2px;
	align-content: center;
}
}


